.course-system-section {
    background-image: url('../../../Assets/images/course-system-back.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    position: relative;
}

.course-system-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.course-system-section .wrapper {
    position: relative;
    z-index: 2;
}

.course-system-title {
    color: white;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.course-system-grid {
    display: flex;
    justify-content: space-between;
    row-gap: 113px;
    flex-wrap: wrap;

}

.course-system-card {
    overflow: hidden;
    height: 230px;
    width: 360px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.course-system-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
}

.course-system-card-content {
    position: relative;
    z-index: 2;
    text-align: left;
}

.course-system-card-title {
    margin-bottom: 20px;
    font-weight: 500;
}

.course-system-card-subtitle {
    color: #000000;
    line-height: 1.6;
}

.course-system-card-footer {
    margin-top: auto;
    display: flex;
    gap: 0;
    width: inherit;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

.course-system-card-id {
    font-size: 100px;
    font-weight: 800;
    color: #E0E2E7;
    line-height: 1;
    transform: translate(-30%, 10%);
    z-index: 0;
}

.course-system-card-image {
    max-height: 100px;
    max-width: 120px;
    object-fit: contain;
    align-self: flex-end;
    margin-right: -10px;
    margin-bottom: -10px;
}


