.faq-section {
    padding: 80px 0;
    background-color: #F9FAFB;
}



.faq-title {
    text-align: center;
    margin-bottom: 40px;
}

.faq-list {
    margin: 0 auto;
    width: 780px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.faq-item {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 18px 24px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.faq-item:hover {
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h3 {
    color: #000000;
    font-family: 'Inter' sans-serif;
}

.faq-chevron {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.faq-chevron.rotated {
    transform: rotate(180deg);
}

.faq-answer {
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-top: 18px;
}

.faq-answer p {
    font-size: 18px;
    color: #3C3C43D9;
    margin: 0;
}

.faq-contact {
    margin-top: 80px;
}
