.landing-teachers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 32px;
    justify-items: center;
    margin: 40px 0 80px 0;
}

.landing-teacher-card {
}

.landing-teacher-image {
    width: 305px;
    height: 289px;
    object-fit: cover;
    border-radius: 20px;
}

.landing-subject-tag {
    display: inline-block;
    background: #FFE2F2;
    color: #E62D95;
    padding: 4px 12px;
    border-radius: 12px;
    margin: 12px 0 4px 0;
}

.landing-teacher-name {
    text-transform: none;
    font-family: "Inter", sans-serif;
}

.landing-teacher-experience {
    list-style: none;
    margin-top: 12px;
    text-align: left;
}

.landing-teacher-experience li {
    font-size: 14px;
    margin-bottom: 8px;
    color: #A3A9B6;
    display: flex;
    gap: 14px;
    align-items: center;
}

.landing-check-icon {
    width: 24px;
    height: 24px;
}
