.checkout-form-container {
    width: 100%;
}

.checkout-form-container h2 {
    font-family: 'Inter', sans-serif !important;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 40px 0;
}

.form-row {
    display: flex;
    gap: 24px;
    margin-bottom: 0;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.form-group label {
    color: #4D5464;
}

.form-group label span {
    color: #e53935;
    font-size: 1.1em;
    margin-left: 2px;
}


.info-message {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}



.terms-agreement {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-top: 24px;
}
.terms-agreement input[type="checkbox"] {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: px;
    border: 2px solid #858D9D;
    margin: 0;
}
.terms-agreement input[type="checkbox"]:disabled {
    cursor: not-allowed;
    background-color: #E0E0E0;
}
.terms-agreement a {
    color: #004EFF;
} 