.checkout-sidebar {
    width: 100%;
    max-width: 413px; 
}

.discount-banner {
    background-color: #F9F9FC;
    border-radius: 8px;
    padding: 16px 24px;
    display: flex;
    border: 1px solid #99CAFF;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.banner-price{
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 8px;

}
.banner-emoji {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 40px;
    height: 40px;
}

.banner-fire {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
}

.banner-text p {
    margin: 0;
    font-size: 14px;
}

.banner-discount {
    font-weight: bold;
    color: #FF7043;
    font-size: 20px;
}

.banner-button {
    background-color: #E62D95;
    color: #fff;
    border-radius: 8px;
    padding: 10px 14px;
    cursor: pointer;
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sidebar-course-info{
    display: flex;
    margin-bottom: 14px;
}
.sidebar-course-info img{
    margin-right: 12px;
}

.course-item {
    border-bottom: 1px solid #E0E2E7;
    padding-bottom: 24px;
}
.course-item:last-child {
    border-bottom: none;
}
.course-name {
    display: flex;
    align-items: center;
    gap: 4px;
}

.course-discount-badge {
    background-color: #FFE4EE;
    color: #D539E1;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.course-tag {
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.price-info {
    text-align: right;
    display: flex;
}
.course-item div{
    display: flex;
    justify-content: space-between;
}
.payment-type {
    background-color: #E7F4EE;
    color: #1B998B;
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.original-price {
    font-size: 14px;
    color: #909090;
    text-decoration: line-through;
    display: block;
}

.final-price {
    font-weight: 700;
    color: #5E71E2;
}

.course-price{
    flex-direction: column;
    gap: 2px;
}

.bonus-item{
    display: flex;
    justify-content: space-between;
}
.bonus-item .course-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bonus-icon {
    width: 24px;
    height: 24px;
}

.price-summary {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0;
    border-top: 1px solid #EBEBEB;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discount-amount {
    color: #ED4FA7;
    font-weight: 600;
    font-size: 18px;
}

.total-row {
    border-top: 1px solid #E0E2E7;
    padding-top: 24px;
}

.checkout-button {
    width: 100%;
    background-color: #BDBDBD;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: not-allowed;
    transition: background-color 0.3s;
}

.checkout-button:not(:disabled) {
    background-color: #7932F2;
    cursor: pointer;
}

.checkout-button:not(:disabled):hover {
    background-color: #6228c8;
} 