/* UI Kit Input Styles */
.ui-input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.ui-input {
  padding: 10px 12px;
  border: 1px solid #E0E2E7;
  border-radius: 8px;
  background: #F9F9FC;
  font-size: 14px;
  color: #333843;
  outline: none;
  transition: border 0.2s, background 0.2s;
}
.ui-input::placeholder{
    font-size: 14px;
    color: #858D9D;
}
.ui-input:focus {
  border-color: #5C59E8;
}

.ui-input-error {
  border-color: #FCDAD7;
  background: #FEEDEC;
}

.ui-input-disabled {
  background: #E0E2E7;
  color: #A3A9B6;
  cursor: not-allowed;
}

.ui-input-error-message {
  color: #F04438;
  font-size: 12px;

} 